@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,400;1,500;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  scroll-behavior: smooth;
}

.main--navbar {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  align-items: center;
  justify-content: space-around;
  gap: 35rem;
  z-index: 2;
  backdrop-filter: brightness(0.5);
}

.main--navbar-left {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 19px;
  flex: 1;
  margin-left: 24px;
  color: #fff;
}

.main--navbar-left img {
  height: 100%;
  width: 128px;
  filter: invert(1);
}

.main--navbar-right {
  flex: 1;
}

.main--navbar-right .main--navbar-content {
  display: flex;
  list-style-type: none;
  gap: 3rem;
}

.main--navbar-right .main--navbar-content li a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 10px;
  padding: 10px;
}

.main--navbar-right .main--navbar-content li:hover a {
  background: #fff;
  color: black;
}

.main--home {
  width: 100%;
  height: 100vh;
  background: url('./Images/background.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.main--home::before {
  content: '';
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.main--home-content {
  margin-left: 5%;
  padding-top: 17%;
  font-size: 2rem;
  color: #fff;
  font-weight: 900;
}

.home-content-btn .btn {
  padding: 11px 30px;
  border-radius: 6px;
  border: none;
  margin-top: 40px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.home-content-btn .btn:hover {
  transform: scale(1.1);
}

.home-content-btn .btn:active {
  transform: scale(0.8);
}
